body{
    margin: 0;
    padding: 0;
    height: 100%;
}


#main-container{
    background-image: url('../img/LOGOFINAL.png');
    background-size: 250px;
    padding-bottom:  50px;
    border: 3px solid black;
}

 .games #game1{
    width:200px;
    height:200px;
    border-radius:100px;
    margin-left: 26%;
    margin-top: 5%;
}
.games #game2{
    width:200px;
    height:200px;
    border-radius:100px;
    margin-left: 240px;
}

.games #game1:hover, .games #game2:hover, .games2 #game3:hover{
    color: #000;
    background: #90BFD6;
    border: #90BFD6;
}


.games2 #game3{
     width:200px;
    height:200px;
    border-radius:100px;
    margin-left: 42%;
    margin-top: 10%
    
}


#header{
    background-color: skyblue;
    text-align: center;


}

#header h1{
    padding: 0;
    margin: 0;
}